In [1]:
import pandas as pd
import json

In [2]:
def show_data(new_df , name='global_name', columns=['salario','nome'], print_int=False):
    for row in range(0,len(new_df)):
        print(name,end=" | ")
        for column in columns:
            if column == columns[-1]:
                print(f"{new_df[column].iloc[row]:.2f}" if not print_int else f"{new_df[column].iloc[row]}")
            else:
                print(new_df[column].iloc[row], end=" | ")

In [3]:
#1 - LENDO O ARQUIVO JSON
with open('funcionario.json', 'r') as json_file:
    dados = json.loads(json_file.read())

#2 - LENDO EM DOIS DATAFRAME O ARQUIVO JSON
df_full=pd.DataFrame.from_dict(dados['funcionarios'], orient='columns')
df_areas=pd.DataFrame.from_dict(dados['areas'], orient='columns')

#3 - CRIANDO UMA COLUNA COM NOME + SOBRENOME
df_full["nome_completo"] = df_full.nome + " " + df_full.sobrenome

#4 - CRIANDO UMA COLUNA COM A AREA COMPLETA
for i in df_full["area"]:
    df_full.loc[df_full.area == i,"area_completa"] = list(df_areas.loc[df_areas.codigo == i,"nome"])[0]
    
#5 - CRIANDO UMA COLUNA COM TOTAL DE FUNCIONARIO EM CADA AREA
df_areas["qtd_funcionario"] = int
for i in df_areas["codigo"]:
    df_areas.loc[df_areas.codigo == i, "qtd_funcionario"] = len(df_full.loc[df_full.area == i])

<h3>Vendo o DataFrame para seguir com a atividade</h3>

In [4]:
df_full

,id,nome,sobrenome,salario,area,nome_completo,area_completa
0,0,Marcelo,Silva,3200.0,SM,Marcelo Silva,Gerenciamento de Software
1,1,Washington,Ramos,2700.0,UD,Washington Ramos,Designer de UI/UX
2,2,Sergio,Pinheiro,2450.0,SD,Sergio Pinheiro,Desenvolvimento de Software
3,3,Bernardo,Costa,3700.0,SM,Bernardo Costa,Gerenciamento de Software
4,4,Cleverton,Farias,2750.0,SD,Cleverton Farias,Desenvolvimento de Software
5,5,Abraão,Campos,2550.0,SD,Abraão Campos,Desenvolvimento de Software
6,6,Letícia,Farias,2450.0,UD,Letícia Farias,Designer de UI/UX
7,7,Fernando,Ramos,2450.0,SD,Fernando Ramos,Desenvolvimento de Software
8,8,Marcelo,Farias,2550.0,UD,Marcelo Farias,Designer de UI/UX
9,9,Fabio,Souza,2750.0,SD,Fabio Souza,Desenvolvimento de Software
10,10,Clederson,Oliveira,2500.0,SD,Clederson Oliveira,Desenvolvimento de Software
11,11,Teste,que_eu_criei,3700.0,SD,Teste que_eu_criei,Desenvolvimento de Software

In [5]:
df_areas

  codigo                         nome qtd_funcionario
0     SD  Desenvolvimento de Software               7
1     SM    Gerenciamento de Software               2
2     UD            Designer de UI/UX               3

# Atividade 1

Quem mais recebe e quem menos recebe na empresa e a média salarial da empresa. 
Calcular e imprimir o nome completo do(s) funcionário(s) com o(s) maior(es) e menor(res) salário(s) na empresa inteira, bem como o salário médio. Em caso de empate (mais de um funcionário nas posições de maior ou menor salário), imprimir todos os funcionários nessas posições que tem o mesmo salário.

In [6]:
# - Criando um filtro para pegar o(s) maior(es) salario(s)
filtro = df_full.salario == df_full.salario.max()
show_data(df_full.loc[filtro], name="global_max", columns=["nome_completo","salario"])

# - Criando um filtro para pegar o(s) menor(es) salario(s)
filtro = df_full.salario == df_full.salario.min()
show_data(df_full.loc[filtro], name="global_min", columns=["nome_completo","salario"])


# - Criando um DataFrame para mostrar a média salarial
show_data(pd.DataFrame([{"salario":df_full.salario.mean()}]), name="global_avg", columns=["salario"])

global_max | Bernardo Costa | 3700.00
global_max | Teste que_eu_criei | 3700.00
global_min | Sergio Pinheiro | 2450.00
global_min | Letícia Farias | 2450.00
global_min | Fernando Ramos | 2450.00
global_avg | 2812.50

# Atividade 2

Calcular e imprimir o nome completo do(s) funcionário(s) com o(s) maior(es) e menor(res) salário(s) por área da empresa empresa, bem como o salário médio (também por área). Em caso de empate (mais de um funcionário nas posições de maior ou menor salário em uma determinada área), imprimir todos os funcionários nessas posições que tem o mesmo salário, em cada área.

In [7]:
# - Criando um DataFrame com os grupos para não repetir a mesma operação
df_group = df_full.groupby("area")

# - Maior Salario por área
filtro_1 = df_full.area == "SD"
filtro_2 = df_full.salario == df_group.get_group("SD").salario.max()
show_data(df_full.loc[filtro_1 & filtro_2], name="area_max", columns=["area_completa","nome_completo","salario"])

filtro_1 = df_full.area == "SM"
filtro_2 = df_full.salario == df_group.get_group("SM").salario.max()
show_data(df_full.loc[filtro_1 & filtro_2], name="area_max", columns=["area_completa","nome_completo","salario"])

filtro_1 = df_full.area == "UD"
filtro_2 = df_full.salario == df_group.get_group("UD").salario.max()
show_data(df_full.loc[filtro_1 & filtro_2], name="area_max", columns=["area_completa","nome_completo","salario"])


# - Menor Salario por área
filtro_1 = df_full.area == "SD"
filtro_2 = df_full.salario == df_group.get_group("SD").salario.min()
show_data(df_full.loc[filtro_1 & filtro_2], name="area_min", columns=["area_completa","nome_completo","salario"])

filtro_1 = df_full.area == "SM"
filtro_2 = df_full.salario == df_group.get_group("SM").salario.min()
show_data(df_full.loc[filtro_1 & filtro_2], name="area_min", columns=["area_completa","nome_completo","salario"])

filtro_1 = df_full.area == "UD"
filtro_2 = df_full.salario == df_group.get_group("UD").salario.min()
show_data(df_full.loc[filtro_1 & filtro_2], name="area_min", columns=["area_completa","nome_completo","salario"])


# - Média salario por área
show_data(pd.DataFrame({"salario":[df_group.get_group("SD").salario.mean()],"area_completa":list(df_areas.loc[df_areas.codigo == "SD","nome"])[0]}), name="area_avg", columns=["area_completa","salario"])

show_data(pd.DataFrame({"salario":[df_group.get_group("SM").salario.mean()],"area_completa":list(df_areas.loc[df_areas.codigo == "SM","nome"])[0]}), name="area_avg", columns=["area_completa","salario"])

show_data(pd.DataFrame({"salario":[df_group.get_group("UD").salario.mean()],"area_completa":list(df_areas.loc[df_areas.codigo == "UD","nome"])[0]}), name="area_avg", columns=["area_completa","salario"])

area_max | Desenvolvimento de Software | Teste que_eu_criei | 3700.00
area_max | Gerenciamento de Software | Bernardo Costa | 3700.00
area_max | Designer de UI/UX | Washington Ramos | 2700.00
area_min | Desenvolvimento de Software | Sergio Pinheiro | 2450.00
area_min | Desenvolvimento de Software | Fernando Ramos | 2450.00
area_min | Gerenciamento de Software | Marcelo Silva | 3200.00
area_min | Designer de UI/UX | Letícia Farias | 2450.00
area_avg | Desenvolvimento de Software | 2735.71
area_avg | Gerenciamento de Software | 3450.00
area_avg | Designer de UI/UX | 2566.67

# Atividade 3

Calcular e imprimir as áreas com o maior e menor número de funcionários. Em caso de empate (mais de uma área com o mesmo número máximo ou mínimo de funcionários), todas as áreas dentro daquele critério devem ser impressas.

In [8]:
# - Maior numero de Funcionario
show_data(df_areas.loc[df_areas.qtd_funcionario == df_areas.qtd_funcionario.max()], name="most_employees", columns=["nome","qtd_funcionario"], print_int=True)

# - Menor numero de Funcionario
show_data(df_areas.loc[df_areas.qtd_funcionario == df_areas.qtd_funcionario.min()], name="least_employees", columns=["nome","qtd_funcionario"], print_int=True)

most_employees | Desenvolvimento de Software | 7
least_employees | Gerenciamento de Software | 2

# Atividade 4

Maiores salários para funcionários com o mesmo sobrenome 
Para cada sobrenome com mais de um funcionário, listar o(s) funcionário(s) que recebem o maior salário. Assim como nos itens anteriores, se mais de um funcionário com o mesmo sobrenome tiver o maior salário, listar todos estes.

In [9]:
# - Criando um DataFrame apenas com os sobrenomes duplicados
df_duplicate = df_full.loc[df_full.duplicated(["sobrenome"], keep=False)].groupby("sobrenome")

# - Maior salario com o mesmo sobrenome
for last_name in list(df_duplicate.groups):  
    df_group = df_duplicate.get_group(last_name)
    filtro = df_group.salario == df_group.salario.max()
    show_data(df_group.loc[filtro], name="last_name_max", columns=["sobrenome","nome_completo", "salario"])

last_name_max | Farias | Cleverton Farias | 2750.00
last_name_max | Ramos | Washington Ramos | 2700.00